.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  width: 100%;
  
  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--header-z);
}

.header-logo {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.header-logo-icon {
  display: block;
  width: 5rem;
  height: 5rem;
}

.header-brand {
  margin-left: 1rem;

  font-size: 2rem;
  font-weight: 700;
  color: var(--light);
}