@import "header.css";
@import "nav.css";
@import "btn.css";

:root {
  --primary: #2C3038;
  --light: #fff;
  --gray-text: #888E95;
  --green: #2EBB79;
  --pink-light: #E0416E;
  --pink-dark: #A6002F;

  --header-z: 1000;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;

  background-color: var(--primary);
}

*, *::before, *::after {
  box-sizing: border-box;
}